$fontFamilyName: 'Raleway', sans-serif;
$fontFamilyBody: 'Open sans', sans-serif;

$lightColorB: lighten(#571845, 75);
$background: $lightColorB;
$bodyColorB: #363636;
$themeColor: #c70039;
$themeColorSub: white;
$themeColorHover: #ffc300;
$themeColorActive: #ff5734;