#index {
    // @include bordersToCheck (pink, yellow, green);

    background-color: $background;

    .container {
        width: 90%;
        margin: 20px auto;
        justify-content: center;
        align-items: center;
        color: $bodyColorB;
        
        .content {
            margin: auto;
            text-align: center;
            width: auto;

            button {
                @include buttonStyle($themeColor, $themeColorSub);
            }
        
            button:hover {
                @include buttonStyle($themeColorHover, $themeColorSub);
            }

            .isActive {
                @include buttonStyle($themeColorActive, $themeColorSub);
            }

            h2 {
                padding: 3px 30px;
                overflow: hidden;
                white-space: nowrap;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
            }

            section {
                margin: 1%;
                padding: 1%;
                background-color: white;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                -ms-border-radius: 3px;
                border-radius: 3px;

                img {
                    width: 100%;
                    height: 300px;
                    -o-object-fit: cover;
                    object-fit: cover;
                }

            }

            .flex-box {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                flex-flow: row wrap;

                section {
                    max-width: 29%;
                    flex: 29%;
                    border: 1px solid $themeColorActive;
                }
            }

            .float {

                section {
                    float: left;
                    width: 29%;
                    border: 1px solid $themeColorHover;

                }
            }

        }
    }
}

@include tablet {

    #index {

        .container {

            .content {

                .flex-box {
                
                    section {
                        max-width: 45%;
                        flex: 45%;
                    }
                }

                .float {

                    section {
                        width: 45%;
                    }
                }
            }
        }

    }
}

@include limitScreenForMobile {

    #index {

        .container {

            .content {

                .flex-box {
                
                    section {
                        flex: 100%;
                        max-width: 100%;
                    }
                }
                
                .float {

                    section {
                        width: 100%;
                    }
                }
            }
        }

    }
}